.containerCard {
  display: flex;
  height: 315px;
}

.wrapperCard {
  margin-top: 30px;
  margin-left: 30px;
  width: 300px;
  height: 240px;
  background-color: rgb(248, 248, 248);
  box-shadow: 10px 10px 10px 1px rgba(51, 51, 51, 0.4);
  margin-bottom: 15px;
}

.img_container {
  border-right: 1px solid;
  width: 150px;
  height: 240px;
}

.img {
  width: 140px;
  height: 240px;
}

.halfs {
  display: flex;
}

.right {
  min-width: 160;
  max-width: 160px;
}

.header_card {
  position: relative;
  font-size: 15px;
  color: #ea003d;
  margin-top: 10px;
  max-width: 140px;
  display: flex;
  justify-content: space-around;
}

.name_card {
  margin-top: 22px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  padding-left: 5px;
  text-align: left;
  font-weight: bold;
}

.button_info {
  position: absolute;
  margin-top: 100px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 5px;
  color: #ea003d;
}

.btn_star,
.btn_favorit {
  background-color: transparent;
  border: none;
  align-items: center;
  width: 14px;
  height: 14px;
}
